{{!-- title --}}
<div class="row mx-0 mb-5">
  <div class="col-4 mx-auto">
    <div class="d-flex">
      <p class="align-self-center">* 為必填欄位</p>
      <div class="col align-self-center">
        <h1 class="text-center">請修改你的支出</h1>
      </div>
    </div>
  </div>
</div>

{{!-- 表單 --}}
<div class="row mx-0 ">
  <div class="col-3 mx-auto mt-5">
    <form action="/records/edit/{{record._id}}?_method=PUT" method="post" class="needs-validation" novalidate>
      <div class="form-floating mb-3">
        <input type="name" class="form-control" id="floatingName" placeholder="name..." name="name"
          value="{{record.name}}" required>
        <label for="floatingName">名稱*</label>
      </div>
      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingDate" placeholder="date..." name="date"
          value="{{record.date}}" required>
        <label for="floatingDate">日期*</label>
      </div>
      <div class="form-floating mb-3">
        <select class="form-select form-select-lg mb-3" id="categorySelect" name="categoryId"
          aria-label=".form-select-lg">
          {{#each category}} 
          <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <label for="categorySelect">類別*</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" min="0" class="form-control" id="floatingAmount" placeholder="amount..." name="amount"
          value="{{record.amount}}" required>
        <label for="floatingAmount">金額*</label>
      </div>
      {{!-- 新增按鈕 --}}
      <div class="d-grid gap-2 col-5 mx-auto mt-5">
        <button class="btn btn-outline-info" type="submit">新增支出</button></a>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/validation.js"></script>