{{!-- 下拉表單 --}}
<div class="row mx-0 mt-5">
  <div class="col-3 mx-auto">
    <form action="/search" class="col-sm-12 rounded d-flex" id="search-by-category">
      <div class="d-grid col-12 mx-auto">
        <div class="btn-group dropend">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            分類
          </button>

          <ul class="dropdown-menu">
            <li><button class="dropdown-item" name="sort" type="submit" value="name">名字</button></li>
            <li><button class="dropdown-item" name="sort" type="submit" value="date">日期</button></li>
            <li><button class="dropdown-item" name="sort" type="submit" value="amount">金額</button></li>
            <li><button class="dropdown-item" name="sort" type="submit" value="category">類別</button></li>
            <hr class="dropdown-divider">
            <li>
              <h5 class="dropdown-header">只顯示類別:</h5>
            </li>
            <li>
            </li>
            {{#each category}}
            <li><button class="dropdown-item" name="onlyShow" type="submit" value="{{this._id}}">{{this.name}}</button>
            </li>
            {{/each}}
          </ul>
        </div>
        {{!-- 總金額 --}}
        <div class="d-flex justify-content-between mt-5">
          <h2>總金額:</h2>
          <h1>{{totalAmount}}</h1>
        </div>
        {{> message}}
      </div>
    </form>
  </div>
</div>

{{!-- 清單資料 --}}
<div class="row mt-5 mx-0">
  <div class="col-6 mx-auto">
    <div class="list-group">
      {{#each records }}
      <div class="d-flex">
        <div class="flex-grow-1">
          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="{{this.categoryIcon}} fa-3x me-3"></i>
                <div>
                  <h5 class="mb-1">{{this.name}}</h5>
                  <p class="mb-1">{{this.date}}</p>
                </div>
              </div>
              <h3 class="align-self-end">{{this.amount}}</h3>
            </div>
          </a>
        </div>
        <div class="d-flex align-items-center  justify-content-between">
          <a href="/records/edit/{{this._id}}" class="mx-4 btn btn-secondary">修改</a>
          <a href="/records/delete" class="btn btn-danger">刪除</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{!-- 新增按鈕 --}}
<div class="d-grid gap-2 col-1 mx-auto mt-5">
  <a href="/records/new"><button class="btn btn-warning border border-dark" type="button">新增支出</button></a>
</div>